@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-Regular-webfont.woff");
    font-display: swap;
}
@font-face {
    font-family: 'Playfair regular';
    src: url("../fonts/playfair/static/PlayfairDisplay-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: 'Playfair bold italic';
    src: url("../fonts/playfair/static/PlayfairDisplay-BoldItalic.ttf");
    font-display: swap;
}

@font-face {
    font-family: 'Playfair bold';
    src: url("../fonts/playfair/static/PlayfairDisplay-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: 'Open sans regular';
    src: url("../fonts/opensans/OpenSans-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: 'Open sans bold italic';
    src: url("../fonts/opensans/OpenSans-BoldItalic.ttf");
    font-display: swap;
}


@font-face {
    font-family: 'Open sans bold';
    src: url("../fonts/opensans/OpenSans-Bold.ttf");
    font-display: swap;
}

