a{
    color: $primary_color;
    &:link {color: goldenrod;}
    &:hover {color: $secondary_color;}
    &:active {color: $secondary_color;}
}

figure{
    margin: 0;
}

ul{
    list-style: none;
}
figure{
    margin: 0;
}
header{
    text-align: center;
    img{
        filter: grayscale(100);
    }
}
nav{
    display: flex;
    justify-content: center;
    background-color: silver;
    ul{
        margin: 0;
        display: flex;
        justify-content: space-around;
        gap: .5em;
        li{
            background-color: $primary_color;
            padding: 15px 10px;
            font-family: 'Roboto';
            flex: 1 0 auto;
            &:hover{
                background-color: $white;
                color: $primary_color;
                a{
                    color: $primary_color;
                }
            }
            a{
                color: $white;
                text-decoration: none;

            }
        }
    }
}

h2{
    font-family: "Open sans regular";
    color: $secondary_color;
}

h1 {
    font-size: 5vh;
    font-family: playfair regular;

    text-align: center;
    color: $primary_color;
    font-size: 5vh;
}

/** Section A propos**/
.container{
    display: flex;
    justify-content: space-around;
}
